.is-category-select-true {
  @apply border border-primary-700 bg-primary-700 text-white
}

.is-category-select-false {
  @apply border border-primary-700-light text-primary-700-light
}

.is-state-true {
  @apply px-2 py-1 w-fit h-fit flex justify-center text-center text-3xs text-primary-700 bg-primary-700-light rounded-full;
}

.is-state-false {
  @apply px-2 py-1 w-fit h-fit flex justify-center text-center text-3xs bg-close-light text-close rounded-full;
}